<!-- Header -->
<div class="w-full h-14 bg-[var(--bg-header)] px-6 flex items-center justify-between [box-shadow:var(--left-drawer-shadow)]">

  <div class="flex items-center gap-3">

    <!-- Logo -->
    <img
      src="assets/header/adityabirlalogo.png"
      alt="Aditya Birla Logo"
      class="w-12 h-12 object-contain"
    />

    <!-- Title -->
    <h1 class="text-sm sm:text-base md:text-lg lg:text-lg xl:text-xl
               text-[var(--text-color)] font-semibold tracking-tight">
      Prakriti: UltraTech's Unified OT Data Foundation
    </h1>

  </div>

</div>